// Color Section
$color1: #ed5b46;
$color2: #f26671;
$color3: #f28585;
$color4: #feac97;
$color5: #f8ced2;
$color6: #f7dfe3;
$color7: #f0f2e7;
$color8: #c2d991;
$color9: #84ac67;
$color0: #688c1b;
$colorWhite: white;
$colorBlack: black;

// Font Section
@font-face {
  font-family: "Pretendard Variable";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: local("Pretendard Variable"),
    url("./font/PretendardVariable.woff2") format("woff2-variations");
}

// Common Component
input[type="checkbox"] {
  cursor: pointer;
}

input[type="email"],
input[type="password"] {
  border-radius: 5px;
  width: 80%;
  height: 20px;
  border: 0px;
}

input[type="text"] {
  border-radius: 5px;
  border: 0px;
}

button {
  cursor: pointer;
  color: $color6;
  background-color: $color1;
  border-radius: 5px;
  border: 0px;
}

button:hover {
  color: $color1;
  background-color: $color6;
}

div {
  padding: 5px;
  border-radius: 5px;
}

label {
  padding: 5px;
  border-radius: 5px;
}
