// Color Section
$color1: #ed5b46;
$color2: #f26671;
$color3: #f28585;
$color4: #feac97;
$color5: #f8ced2;
$color6: #f7dfe3;
$color7: #f0f2e7;
$color8: #c2d991;
$color9: #84ac67;
$color0: #688c1b;
$colorWhite: #fff;
$colorBlack: black;
$colorPoint1: #900f23;

// Size Section
$borderRadius: 5px;

// Font Section
@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap");

// Common Component
#root {
  font-family: "Gowun Batang", serif;
  border: 0px;
}

main {
  width: 100%;
  margin: 8px auto;
  height: 90vh;
  display: flex;
  flex-direction: column;
  border: 0px;
}

header {
  height: 50px;
}

section {
  width: 100%;
  flex: 1;
}

input[type="checkbox"] {
  cursor: pointer;
}

input[type="email"],
input[type="password"] {
  border-radius: $borderRadius;
  width: 80%;
  height: 20px;
  border: 0px;
  margin: 5px 0;
}

input[type="text"] {
  border-radius: $borderRadius;
  border: 0px;
}

button {
  cursor: pointer;
  color: $colorWhite;
  background-color: $color9;
  border-radius: $borderRadius;
  border: 0px;
  font-family: "Gowun Batang", serif;

  &:hover {
    color: $color9;
    background-color: $colorWhite;
  }
}

div {
  padding: 5px;
  border-radius: $borderRadius;
  border: $color7 1px solid;
  font-family: "Gowun Batang", serif;
}

label {
  padding: 5px;
  border-radius: $borderRadius;
}

ul {
  padding: 0px;
  margin: 0px;
}
