// Color Section
$color1: #ed5b46;
$color2: #f26671;
$color3: #f28585;
$color4: #feac97;
$color5: #f8ced2;
$color6: #f7dfe3;
$color7: #f0f2e7;
$color8: #c2d991;
$color9: #84ac67;
$color0: #688c1b;
$colorWhite: white;
$colorBlack: black;

// Font Section
@font-face {
  font-family: "Pretendard Variable";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: local("Pretendard Variable"),
    url("./font/PretendardVariable.woff2") format("woff2-variations");
}

// Common Component
input[type="checkbox"] {
  cursor: pointer;
}

input[type="email"],
input[type="password"] {
  border-radius: 5px;
  width: 80%;
  height: 20px;
}

button {
  cursor: pointer;
  color: $color6;
  background-color: $color1;
}

button:hover {
  color: $color1;
  background-color: $color6;
}

.chat_send_Message {
  border-radius: 5px;
  flex: 1;
  height: 20px;
}

.chat_send_btn {
  width: 8%;
  border-radius: 5px;
  padding: 3px 5px;
}

.login_regist_btn {
  margin: 0 10px;
  border-radius: 5px;
  padding: 3px 5px;
  background-color: $color2;
  color: $colorWhite;
}
.login_btn:hover {
  color: $color2;
  background-color: $colorWhite;
}

.forget_password_lbl {
  cursor: pointer;
  font-size: 1em;
}
.forget_password_lbl:hover {
  color: blue;
  font-size: 1.05em;
}
.login_big_img {
  width: 100%;
}

.logo_img {
  width: 15%;
}
