button {
  cursor: pointer;
}

input[type="email"],
input[type="password"] {
  border-radius: 5px;
  width: 80%;
  height: 20px;
}

input[type="checkbox"] {
  cursor: pointer;
}

.chat_send_Message {
  border-radius: 5px;
  flex: 1;
  height: 20px;
}

.chat_send_btn {
  color: #fff;
  background-color: #ed5b46;
  width: 8%;
  border-radius: 5px;
  padding: 3px 5px;
}

.chat_send_btn:hover {
  color: #ed5b46;
  background-color: #fff;
}

.login_regist_btn {
  margin: 0 10px;
  border-radius: 5px;
  padding: 3px 5px;
  background-color: #ed5b46;
  color: #fff;
}
.login_btn:hover {
  color: #ed5b46;
  background-color: #fff;
}

.forget_password_lbl {
  cursor: pointer;
  font-size: 1em;
}
.forget_password_lbl:hover {
  color: blue;
  font-size: 1.05em;
}
.login_big_img {
  width: 100%;
}
