@import "common.scss";

main {
  width: 100%;
  margin: 8px auto;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 50px;
}

section {
  width: 100%;
  flex: 1;
}

.main {
  width: 100%;
  height: 100%;
}

.header_box {
  display: flex;
  justify-content: space-between;
  height: 10%;
  margin-bottom: 8px;

  div {
    border: 0px;
  }

  .account_info_box {
    text-align: center;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: black solid 1px;
    font-size: 0.8rem;

    span {
      margin: 5% 0px;
      width: 100%;
    }

    label {
      padding: 3% 0px;
      width: 100%;
      cursor: pointer;
      color: navy;
    }

    label:hover {
      color: white;
      background-color: skyblue;
    }
  }
}

.main_box {
  display: flex;
  justify-content: space-around;
  background-color: $color8;
  height: 100%;
  padding: 10px;

  div {
    padding: 10px;
  }

  .chatList_box {
    font-family: "PretendardVariable";
    flex: 2;
    background-color: $colorWhite;
  }
  .chat_box {
    flex: 5;
    background-color: $color4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .chat_target_box {
      height: 5%;
      text-align: center;
      background-color: $color5;
    }

    .chat_content_box {
      height: 500px;
      background-color: white;
      overflow-y: auto;
      max-height: 500px;
    }
    .chat_send_Message_box {
      border: 0px;
      height: 7%;
      display: flex;
      justify-content: center;
      align-items: center;

      .chat_send_Message {
        flex: 1;
        height: 30px;
        margin: auto 2px;
      }

      .chat_send_btn {
        margin: auto 2px;
        width: 8%;
        height: 30px;
        padding: 3px 5px;
        font-size: 1em;
      }
    }
  }
}

.login_box {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    border: 0px;
  }

  .box {
    background-color: $colorWhite;
    width: 700px;
    height: 400px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  .image_box {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      width: 100%;
    }
  }
  .login_content {
    background-color: $color8;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .login_question {
      width: 80%;
      display: flex;
      justify-content: space-between;

      label {
        cursor: pointer;
        font-size: 1em;
      }
      label:hover {
        color: blue;
        font-size: 1.05em;
      }
    }

    .btn_box {
      button {
        margin: 0 10px;
        padding: 3px 5px;
        background-color: $color2;
        color: $colorWhite;
      }

      button:hover {
        color: $color2;
        background-color: $colorWhite;
      }
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
}

.logo_box {
  img {
    width: 15%;
  }
}

.icon_ul {
  list-style: none;
  li {
    display: inline-block;
    padding: 5px;
  }
  label {
    cursor: pointer;
  }
  img {
    width: 30px;
  }
}
